[Unit]
Description=F1 Live Timing & Race Info API
After = network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/scripts/f1-live-api
Environment="PATH=/opt/scripts/f1-live-api/venv/bin"
ExecStart=/opt/scripts/f1-live-api/venv/bin/python /opt/scripts/f1-live-api/server.py
TimeoutStartSec=120
TimeoutStopSec=30
Restart=always
RestartSec=10
WatchdogSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
